window {
  margin: 0px;
  border: 0px solid #d8a657;
  background-color: rgba(27, 27, 27, 0.95);
  border-radius: 15px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #ddc7a1;
  font-weight: bold;
  background-color: #282828;
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 5 15px;
  font-weight: bold;
}

#text:selected {
  color: #ddc7a1;
}

#entry:selected {
  border-radius: 15px;
  background: #504945;
}
